<!-- Alerta de éxito, error, guardado, actualizado, filtro y borrado -->
<!-- Se utilizan atributos del modelo para mostrar diferentes tipos de mensajes -->

<!-- Alerta de éxito, aparece cuando se consigue unir un actor a una película -->
<div th:if="${mensajeExito != null}" class="alerta alerta-exito">
  <span th:text="${mensajeExito}"></span>
  <span class="cerrar-alerta" onclick="this.parentElement.style.display='none';">&times;</span>
</div>

<!-- Alerta de error, aparece cuando no se consigue unir un actor a una película-->
<div th:if="${mensajeError != null}" class="alerta alerta-error">
  <span th:text="${mensajeError}"></span>
  <span class="cerrar-alerta" onclick="this.parentElement.style.display='none';">&times;</span>
</div>

<!-- Alerta de guardado, aparece cuando se guarda un actor-->
<div th:if="${mensajeGuardado != null}" class="alerta alerta-guardado">
  <span th:text="${mensajeGuardado}"></span>
  <span class="cerrar-alerta" onclick="this.parentElement.style.display='none';">&times;</span>
</div>

<!-- Alerta de actualización, aparece cuando un actor es actualizado-->
<div th:if="${mensajeActualizado != null}" class="alerta alerta-actualizado">
  <span th:text="${mensajeActualizado}"></span>
  <span class="cerrar-alerta" onclick="this.parentElement.style.display='none';">&times;</span>
</div>

<!-- Alerta de actualización, aparece cuando un actor es actualizado-->
<div th:if="${mensajePeliculas != null}" class="alerta alerta-actualizado">
  <span th:text="${mensajePeliculas}"></span>
  <span class="cerrar-alerta" onclick="this.parentElement.style.display='none';">&times;</span>
</div>

<!-- Alerta de filtro, aparece cuando se aplica un filtro de búsqueda-->
<div th:if="${mensajeFiltro != null}" class="alerta alerta-filtro">
  <strong>ℹ️ Filtro:</strong> <span th:text="${mensajeFiltro}"></span>
  <span class="cerrar-alerta" onclick="this.parentElement.style.display='none';">&times;</span>
</div>

<!-- Alerta de borrado, aparece cuando se elimina un actor-->
<div th:if="${mensajeBorrado != null}" class="alerta alerta-borrado">
  <span th:text="${mensajeBorrado}"></span>
  <span class="cerrar-alerta" onclick="this.parentElement.style.display='none';">&times;</span>
</div>