<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cineando - Gestión de Actores</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}"> <!-- CSS General -->
</head>
<body>

<!-- Sidebar de búsqueda de actores -->
<div th:replace="~{actores/sidebarActores}"></div>

<!-- Header principal de películas y actores, se indica 'actores' para resaltar la sección correcta en el header -->
<header th:replace="~{encabezado :: headerPrincipal('actores')}"></header>

<main>

    <!-- Sección de mensajes de alerta (éxito o error) -->
    <div th:replace="~{actores/mensajesAlertaActores}"></div>

    <!-- Sección de detalle destacado, muestra la información detallada del actor seleccionado -->
    <section id="detalle-destacado">
        <!-- Mensaje inicial cuando no se ha seleccionado ningún actor, este mensaje desaparece cuando se selecciona un actor -->
        <div id="mensaje-vacio">
            <h2>Selecciona un actor para ver su ficha completa.</h2>
        </div>

        <!-- Contenido detallado del actor seleccionado, este contenido inicia con display ='none', no se ve -->
        <div id="contenido-detalle">
            <!-- Imagen y placeholder en caso de que no haya imagen -->
            <div class="detalle-img-container">
                <img id="det-img" src="" alt="">
                <svg id="default-user-icon" class="default-user-icon" viewBox="0 0 24 24">
                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                </svg>
            </div>

            <!-- Información del actor seleccionado, se añade la información mediante el script de actores a los id det-->
            <div class="detalle-info">
                <h2 id="det-nombre"></h2>
                <p style="margin-top: 20px; font-size: 0.9em; color: #888;">ID de referencia: #<span id="det-id"></span></p>
                <p><strong>País de origen:</strong> <span id="det-pais"></span></p>
                <p><strong>Fecha de nacimiento:</strong> <span id="det-fecha"></span></p>

                <!-- Acciones de editar, borrar y unir actor a película, se aplica el enlace mediante el script actores -->
                <div class="detalle-acciones">
                    <a id="btn-editar-actor" href="#" class="btn btn-editar">Editar</a>
                    <a id="btn-borrar-actor" href="#" class="btn btn-borrar"
                       onclick="return confirm('¿Estás seguro de que deseas eliminar este actor?')">Borrar</a>
                    <a id="btn btn-unirPelicula-actor" href="#" class="btn btn-unirPelicula">Unir a película</a>
                </div>
            </div>
        </div>

        <div id="contenido-listado">
            <p><strong>Películas en las que participa</strong></p>

            <th:block th:each="entry : ${peliculasMap}">

                <div th:id="'lista-peliculas-' + ${entry.key}"
                     class="carousel-container lista-peliculas-item"
                     style="display: none;">

                    <div class="actor-card" th:each="pelicula : ${entry.value}">

                        <img th:if="${pelicula.imagen != null and pelicula.imagen != ''}"
                             th:src="${pelicula.imagen}"
                             alt="Póster película"
                             class="card-img">

                        <div th:unless="${pelicula.imagen != null and pelicula.imagen != ''}" class="placeholder-icon">
                            <svg class="default-user-icon" viewBox="0 0 24 24">
                                <path d="M18 4l2 4h-3l-2-4h-2l2 4h-3l-2-4H8l2 4H7L5 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4h-4z"/>
                            </svg>
                        </div>

                        <h4 th:text="${pelicula.titulo}"></h4>
                        <small th:text="${pelicula.año}"></small>
                    </div>

                    <div th:if="${#lists.isEmpty(entry.value)}" style="padding: 10px; color: #777;">
                        No hay películas registradas para este actor.
                    </div>

                </div>
            </th:block>

        </div>


    </section>

    <!-- Botón para crear un nuevo actor -->
    <div class="action-bar">
        <a th:href="@{/actores/nuevo}" class="btn-nuevo" title="Añadir nuevo actor">
            Crear Nuevo Actor
        </a>
    </div>

    <!-- Listado de actores en tarjetas -->
    <div class="actor-container">
        <!-- Bucle que recorre el listado de actores -->
        <!-- Se añaden atributos data- para almacenar la información de cada actor y no se pierda-->
        <div class="actor-card" th:each="actor : ${listadoActores}"
             th:data-id="${actor.id}"
             th:data-nombre="${actor.nombre}"
             th:data-fecha="${actor.fechaNacimiento}"
             th:data-pais="${actor.pais}"
             th:data-imagen="${actor.imagen}"
             onclick="mostrarDetalles(this)">

            <!-- Se muestra la imagen y en su defecto un placeholder, el título y año de la misma -->
            <img th:if="${actor.imagen != null and actor.imagen != ''}"
                 th:src="${actor.imagen}" alt="Cartel">

            <div th:unless="${actor.imagen != null and actor.imagen != ''}">
                <svg class="default-user-icon" viewBox="0 0 24 24">
                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                </svg>
            </div>

            <h4 th:text="${actor.nombre}"
                style="margin: 10px 0;
                word-wrap: break-word;
                overflow-wrap: break-word;
                word-break: break-word;"></h4>
            <small th:text="${actor.pais}"
                   style="color: #666;
                   margin: 10px 0;
                   word-wrap: break-word;
                   overflow-wrap: break-word;
                   word-break: break-word;"></small>
        </div>
    </div>
</main>

<!-- Paginación -->
<div class="pagination-container">
    <nav th:replace="~{paginator-nav :: paginator}"></nav>
</div>

<script th:src="@{/js/scripts.js}"></script> <!-- Script general -->
<script th:src="@{/js/actores.js}"></script> <!-- Script específico de actores -->

</body>
</html>