<div id="sidebar" class="sidebar-busqueda">

    <!-- Header del sidebar con título y botón de cierre -->
    <div class="sidebar-header">
        <h3>Búsqueda Actores</h3>
        <button class="btn-cerrar" onclick="toggleSidebar()">&times;</button>
    </div>

    <!-- Contenido del sidebar con formularios de búsqueda -->
    <div class="sidebar-content">

        <!-- Filtro por identificador-->
        <div class="filter-group">
            <label for="id"><h4>Por Identificador</h4></label>
            <form th:action="@{/actores/id}" method="get">
                <div class="input-row">
                    <input type="number" id="id" name="id" placeholder="Ej: 5">
                    <button type="submit" class="btn-search">Buscar</button>
                </div>
            </form>

            <label for="nombre"><h4>Por nombre</h4></label>
            <form th:action="@{/actores/nombre}" method="get">
                <div class="input-row">
                    <input type="text" id="nombre" name="nombre" placeholder="Ej: Juan">
                    <button type="submit" class="btn-search">Buscar</button>
                </div>
            </form>

            <label for="pais"><h4>Por nombre</h4></label>
            <form th:action="@{/actores/pais}" method="get">
                <div class="input-row">
                    <input type="text" id="pais" name="pais" placeholder="Ej: España">
                    <button type="submit" class="btn-search">Buscar</button>
                </div>
            </form>
        </div>

    </div>
</div>