<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Actores | Unir Película</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>

<header>

    <div th:replace="~{ajustes}"></div>

    <div class="header-left"></div>

    <div class="header-center">
        <h1>Unir actor a una película</h1>
    </div>

    <div class="settings-box" onclick="toggleSettingsSidebar()">
        <svg class="icon" viewBox="0 0 24 24">
            <path d="M19.14 12.94c.04-.3.06-.61.06-.94 0-.32-.02-.64-.07-.94l2.03-1.58c.18-.14.23-.41.12-.61l-1.92-3.32c-.12-.22-.37-.29-.59-.22l-2.39.96c-.5-.38-1.03-.7-1.62-.94l-.36-2.54c-.04-.24-.24-.41-.48-.41h-3.84c-.24 0-.43.17-.47.41l-.36 2.54c-.59.24-1.13.57-1.62.94l-2.39-.96c-.22-.08-.47 0-.59.22L2.74 8.87c-.12.21-.08.47.12.61l2.03 1.58c-.05.3-.09.63-.09.94s.02.64.07.94l-2.03 1.58c-.18.14-.23.41-.12.61l1.92 3.32c.12.22.37.29.59.22l2.39-.96c.5.38 1.03.7 1.62.94l.36 2.54c.05.24.24.41.48.41h3.84c.24 0 .43-.17.47-.41l.36-2.54c.59-.24 1.13-.56 1.62-.94l2.39.96c.22.08.47 0 .59-.22l1.92-3.32c.12-.22.07-.47-.12-.61l-2.01-1.58zM12 15.6c-1.98 0-3.6-1.62-3.6-3.6s1.62-3.6 3.6-3.6 3.6 1.62 3.6 3.6-1.62 3.6-3.6 3.6z"/>
        </svg>
    </div>
</header>

<div class="main-container">

    <div class="form-card" style="max-width: 1500px;">
        <h2>Formulario de Unión</h2>
        <div class="info-text">
            <span th:text="|Vas a modificar la participación en películas de ${nombreActor}|"> Vas a modificar la participación en películas de Ejemplo</span>
        </div>

        <div class="filtro-container">
            <label for="buscador" style="font-size: 0.9em; color: #666; ">Buscar por nombre:</label>
            <input type="text"
                   id="buscador"
                   placeholder="Escribe una película..."
                   onkeyup="aplicarFiltros()"
                   style="width: 100%; padding: 8px; margin-top: 5px; border: 1px solid #ccc; border-radius: 4px; margin: 0 auto 20px;">
        </div>


            <input type="checkbox" id="seleccionar-todos" onchange= "aplicarFiltros()">
            <label for="seleccionar-todos">Ver las películas seleccionadas</label>

        <form th:action="@{/actores/unirActorPelicula}" method="post" id="form-unir-pelicula">

        <div id="contenido-listado-unir" class="carousel-container">
            <th:block th:each="pelicula : ${listadoPeliculas}">

                <div th:id="'lista-pelicula-' + ${pelicula.id}"
                     class="seleccion-card"
                     onclick="toggleSeleccion(this)">

                    <input type="checkbox"
                           name="ids"
                           th:value="${pelicula.id}"
                           style="display: none;">
                    <!-- Imagen de la película o placeholder en caso de que no haya imagen -->
                    <img th:if="${pelicula.imagen != null and pelicula.imagen != ''}"
                         th:src="${pelicula.imagen}"
                         alt="Póster película"
                         class="card-img">

                    <div th:unless="${pelicula.imagen != null and pelicula.imagen != ''}" class="placeholder-icon">
                        <svg class="default-user-icon" viewBox="0 0 24 24">
                            <path d="M18 4l2 4h-3l-2-4h-2l2 4h-3l-2-4H8l2 4H7L5 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4h-4z"/>
                        </svg>
                    </div>
                    <!-- Título y año de la película -->
                    <h4 th:text="${pelicula.titulo}"></h4>
                    <small th:text="${pelicula.año}"></small>

                </div>

            </th:block>

        </div>
            <input type="hidden" th:value="${idActor}" name="id1">
            <button type="submit" class="btn-guardar">Realizar Unión</button>
        </form>




    <div class="btn-volver-container">
        <a th:href="@{/actores}" class="btn-volver">Cancelar y volver</a>
    </div>



</div>
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/unirPelicula.js}"></script>
<script>
        // Lista de ids que tiene el actor
        const peliculasActor = [[${peliculasActor}]];
        // Si la lista no está vacía, recorremos y seleccionamos cada película
        if (peliculasActor && peliculasActor.length > 0) {
            for (const id of peliculasActor) {
                // Buscamos el elemento con el formato EXACTO del HTML: 'lista-pelicula-' + ID
                const pelicula = document.getElementById('lista-pelicula-' + id);

                //Si existe el elemento, llamamos a la función para seleccionarlo, si no mostramos una advertencia en consola
                if (pelicula) {
                    toggleSeleccion(pelicula);
                } else {
                    console.warn('No se encontró el elemento HTML para la película ID:', id);
                }
            }
        }
    </script>
</body>
</html>