<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="es">
<head>
    <title>Cineando - Gestión de películas</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}"> <!-- CSS General -->
</head>
<body>

<!-- Sidebar de búsqueda de películas -->
<div th:replace="~{peliculas/sidebarPeliculas}"></div>

<!-- Header principal de películas y actores, se indica 'peliculas' para resaltar la sección correcta en el header -->
<header th:replace="~{encabezado :: headerPrincipal('peliculas')}"></header>

<!-- Main (contenido principal de la página) con alertas, sección de detalle destacado, botón de nueva película y listado de películas -->
<main>

    <!-- Sección de mensajes de alerta (éxito o error) -->
    <div th:replace="~{peliculas/mensajesAlertaPeliculas}"></div>

    <!-- Sección de detalle destacado, muestra la información detallada de la película seleccionada -->
    <section id="detalle-destacado">
        <!-- Mensaje inicial cuando no se ha seleccionado ninguna película, este mensaje desaparece cuando se selecciona una película -->
        <div id="mensaje-vacio">
            <h2>Haz clic en una tarjeta de abajo para ver la información detallada aquí.</h2>
        </div>

        <!-- Contenido detallado de la película seleccionada, este contenido inicia con display ='none', no se ve -->
        <div id="contenido-detalle">
            <!-- Imagen y placeholder en caso de que no haya imagen -->
            <div class="detalle-img-container">
                <img id="det-img" src="" alt="">
                <div id="det-img-placeholder" class="placeholder-img" ></div>
            </div>

            <!-- Información de la película seleccionada, se añade la información mediante el script de películas a los id det-->
            <div class="detalle-info">
                <h2 id="det-titulo"></h2>
                <p style="margin-top: 15px; font-size: 0.9em; color: #888;">ID de referencia: #<span id="det-id"></span></p>
                <p><strong>Año:</strong> <span id="det-anio"></span></p>
                <p><strong>Duración:</strong> <span id="det-duracion"></span></p>
                <p><strong>País:</strong> <span id="det-pais"></span></p>
                <p><strong>Género:</strong> <span id="det-genero"></span></p>
                <p><strong>Dirección:</strong> <span id="det-direccion"></span></p>

                <div class="sinopsis-box">
                    <p><strong>Sinopsis:</strong></p>
                    <p id="det-sinopsis"></p>
                </div>

                <!-- Acciones de editar y borrar la película seleccionada, se aplica el enlace mediante el script películas -->
                <div class="detalle-acciones">
                    <a id="btn-editar-detalle" href="#" class="btn btn-editar">Editar</a>
                    <a id="btn-borrar-detalle" href="#" class="btn btn-borrar"
                       onclick="return confirm('¿Estás seguro de que deseas eliminar esta película?')">Borrar</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Barra de acción para crear una nueva película -->
    <div class="action-bar">
        <a th:href="@{/peliculas/nuevo}" class="btn-nuevo" title="Añadir nueva película">
            Crear Nueva Película
        </a>
    </div>

    <!-- Contenedor de las tarjetas de las películas -->
    <div class="movie-container">
        <!-- Bucle que recorre el listado de películas -->
        <!-- Se añaden atributos data- para almacenar la información de cada película y no se pierda-->
        <div class="movie-card" th:each="pelicula : ${listadoPeliculas}"
             th:data-id="${pelicula.id}"
             th:data-titulo="${pelicula.titulo}"
             th:data-anio="${pelicula.año}"
             th:data-duracion="${pelicula.duracion}"
             th:data-pais="${pelicula.pais}"
             th:data-genero="${pelicula.genero}"
             th:data-direccion="${pelicula.direccion}"
             th:data-sinopsis="${pelicula.sinopsis}"
             th:data-imagen="${pelicula.imagen}"
             onclick="mostrarDetalles(this)"> <!-- Al hacer clic en la tarjeta, se muestra el detalle de estos datos -->

            <!-- Se muestra la imagen y en su defecto un placeholder, el título y año de la misma -->
            <img th:if="${pelicula.imagen != null and pelicula.imagen != ''}"
                 th:src="${pelicula.imagen}" alt="Cartel">

            <div th:unless="${pelicula.imagen != null and pelicula.imagen != ''}"
                 class="placeholder-img"></div>

            <h4 th:text="${pelicula.titulo}"
                style="margin: 10px 0;
                word-wrap: break-word;
                overflow-wrap: break-word;
                word-break: break-word;"></h4>
            <small th:text="${pelicula.año}"></small>
        </div>
    </div>
</main>

<!-- Paginación -->
<div class="pagination-container">
    <nav th:replace="~{paginator-nav :: paginator}"></nav>
</div>

<script th:src="@{/js/scripts.js}"></script> <!-- JS General -->
<script th:src="@{/js/peliculas.js}"></script> <!-- JS Específico de Películas -->

</body>
</html>